
.editor-aside {
    width: calc(16% + 20px);
    top: 0;
    position: fixed;
    right: 0px;
    .tabs {
        
        overflow: scroll;
        
        header {
            button {
                padding: 10px;
                width: 50%;
                padding-bottom:12px;
                 border-bottom:2px solid var(--medium);
                 color:var(--medium);
                 font-weight: bold;
                 text-transform: uppercase;
                &.active {
                     padding-bottom:10px;
                 border-bottom:4px solid var(--medium);
                }
                &:first-child {
                    border-right: 2px solid var(--medium);
                     border-left: 2px solid var(--medium);
                }
            }
        }

        .tab {
            border: 1px solid var(--lightest);
            border-top:none;
            
            padding: 20px;
            height: calc(100vh - 37px);

            .element-options-aside {
                 h1 {
                font-size: 20px;
                margin-bottom:10px;
                color:var(--dark);
            }

           

            }

            p {
                font-size:13px;
                line-height: 20px;
                color:var(--dark);
            }
           
            
            button {
                display:block;
               width: calc(100% - 120px);
               margin-bottom:20px;
               &:first-child {
                
               }
            }

            p {
                margin-bottom:10px;
            }

            h4 {
                margin-top:20px;
                margin-bottom:20px;
            }

            input {
               width: calc(50% - 40px);
                margin-bottom:10px;
                display: block;
            }
            .option {
                span {
                    width:30%;
                    display:block;
                }
                input {
                    width:70%;
                    display:block;
                    margin-top: 7px;
                    padding:6px;
                    border-radius:5px;
                }
            }
        }
    }
}