
.editor-aside {
    width: 30%;
    margin-top: -135px;
    margin-left: 20px;

    .tabs {
        position: fixed;
        overflow: scroll;
        height:61%;
        width:26%;
        header {
            button {
                padding: 10px;
                width:calc(50% + 10px);
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background: #EEE;

                &:first-child {
                    border-right: 1px solid #CCC;
                }
            }
        }

        .tab {
            border: 1px solid #EEE;
            height: calc(100% - 56px);
            width: calc(100% + 20px);
            padding: 20px;
            
            button {
                display:block;
                width:32%;
            }

            p {
                font-size: 14px;
                margin-bottom: 10px;
            }

            input {
               width: calc(50% - 40px);
                margin-bottom:10px;
                display: block;
            }
        }
    }
}