
.editor-aside {
    width: calc(16% + 20px);
    top: 0;
    position: fixed;
    right: 0px;
    .tabs {
        
        overflow: scroll;
        
        header {
            button {
                padding: 10px;
                width: 50%;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border: 1px solid #6FB7ED;

                &:first-child {
                    border-right: 1px solid #CCC;
                }
            }
        }

        .tab {
            border: 1px solid #EEE;
            height: calc(100% - 56px);
            width: calc(100% + 20px);
            padding: 20px;
            
            button {
                display:block;
               width: calc(100% - 60px);
               margin-bottom:20px;
               &:first-child {
                
               }
            }

            p {
                font-size: 14px;
                margin-bottom: 10px;
            }

            h4 {
                margin-top:20px;
            }

            input {
               width: calc(50% - 40px);
                margin-bottom:10px;
                display: block;
            }
        }
    }
}