.np-paragraph {
    padding: 10px;
    font-size: 18px;
}
.np-container {
    width: calc(100% - 42px);
    padding: 20px;
}
[contenteditable]:focus {
  outline: none; /* Or set to whatever you want */
  border: none;
}
.current-container {
    border:2px solid green !important;
}
.np-columns {
    padding: 10px;
    gap: 10px;
}
.np-heading {
    padding: 10px;
}
.stage {
    width: calc(78.5% - 20px) !important;
    min-height: 400px;
    padding:20px;
    border:1px solid #000;
}

.image {
    max-width: 100%;
}

.np-gallery {
    min-height:200px;
    > button {
        display: block;
        width:200px;
        img {
            display: block;
            margin:auto;
        }
        margin:auto;
        margin-top:20px;
        color:#000;
        font-weight: bold;
         opacity: 0.5;
         font-size: 16px;
         text-transform: uppercase;
         p {
            margin-top:5px;
         }
    }
    .np-gallery-images {
        padding:40px;
        .np-gallery-image {
            width:100px;
            height:100px;
            background-size:cover;
            button {
                padding:5px;
                background:#FFF;
            }
        }
    }
}

.np-button {

    .flex > p {
        display: inline-block;
        padding:20px;
        border-radius:10px;
        min-width:100px;
        margin:10px 0px;
    }
}


.current-element {
    border: 2px blue solid;
}
.link {
    text-decoration: underline;
    color:blue;
}

.np-spacer {
    .flex-center {
       height:100%;
    }
}

.button-icon {
   width: 50%;
    padding-top: 2px;
    height: 15px;
    border: 1px solid #000;
    font-weight: bold;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 2px;

}