.all-element-options {
    
    position: absolute;
    margin-top: -28px;
    margin-left: -2px;
    border:1px solid #000;
    border-left:2px solid #000;
    border-bottom:none;
    background:#FFF;
    input {
           width: 28px;
    height: 27px;
    border: none;
    margin: 0px 10px
    }

    .select-level {
        cursor: pointer;

        h4 {
            margin: 0;
            padding: 0;
            font-size: 16px;
        }
    }

    >div {
       
        height: 23px;
        padding-top: 5px;
        background: #FFF;
        width: 40px;
        text-align: center;
        border-right: none;
        cursor: pointer;

        ul {
            position: absolute;
            padding: 0;
            margin: 0;
            margin-top: 2px;
            margin-left: -1px;
            background: #FFF;
            z-index:100;
border: 1px solid #000;
border-top:none;
            li {
                cursor: pointer;
                
                padding: 4px 10px;
            }
        }
    }

    
}

.link-input-container {
          width: 220px;
        background: #FFF;
        height: 50px;
        padding: 20px;
        padding-top:40px;
        height:30px;
        position: absolute;
        z-index:40;
        .link-placeholder {
          text-align: left;
        padding-left:10px;
        }
        .link-input {
          height: 20px;
    border: 1px solid blue;
    padding: 10px;
    position: absolute;
    text-align: left;
    margin-top: -32px;
    width:calc(100% - 40px);
        }

        .blinking-cursor {
            font-weight: bold;
            color: #333;
            animation: blink 1s steps(1) infinite;
        }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.bold {
    font-weight: bold;
    cursor: pointer;
}

.italic {
    font-style: italic;
    cursor: pointer;
}

.move-element {
    width: 80px !important;
    padding: 0 !important;
    height: 28px !important;
    position: absolute;
    right: 39px;
    margin-top: -29px;
    background: #FFF;
    border: 1px solid #000;
    border-bottom: none;
    border-right: none;

    div {
        min-width: 40px;
        height: 24px;
        padding-top: 4px;
        height: 24px !important;
        text-align: center;
        cursor: pointer;

    }
}

.drag-container {
    position: relative;

    .drag-handle {
        position: absolute;
        width: 40px;
        height: 26px;
        border: 1px solid #000;
        border-right:2px solid #000;
        border-bottom: none;
        border-left: none;
        right: -2px;
        top: -29px;
        background-image: url(/np-content/admin/img/drag.svg);
        background-size: 60%;
        background-color: #FFF;
        background-repeat: no-repeat;
        text-align: center;
        padding-top: 2px;
        cursor: pointer;
        background-position: center;

        img {
            width: 24px;
        }

    }
}

.spacer-options {
    position: absolute;
    border: 1px solid #000;
    padding: 10px;
    margin-top: -56px;
    background: #FFF;
    margin-left: -2px;
    gap: 20px;
    align-items: center;
    width: 140px;
    padding-left: 20px;
    input {
        padding:5px;
        font-size: 15px;
    }
}

.element-extra-options {
       position: absolute;
    display: flex
;
    border: 1px solid #000;
    height: 28px;
    border-bottom: none;
    right: 118px;
    margin-top: -29px;
    background: #FFF;
    div {
        padding-top:4px;
        height:100%;
        width:40px;
        text-align: center;
        cursor: pointer;
       
    }
    
}