
#image-browser {
        position: absolute;
    top: 100px;
    left: calc(11% + 20px);
    width: calc(67% + 5px);
    height: 400px;
    background: #FFF;
    border: 1px solid #000;
    padding: 20px;
    z-index: 20;
    

    h1 {
        margin-bottom: 6px;
        font-size: 14px;
    }

    h2 {
        font-size: 13px;
        text-align: center;
        margin-top:-24px;
    }

    .file-browser-container {
        overflow-y: scroll;
        height: 300px;

        .file-browser {
            gap: 10px;
            padding: 30px 0px;
            padding-bottom: 20px;
            flex-wrap: wrap;

            .file-browser-item {
                width: calc(20% - 12px);
                height: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid #000;
                border-radius: 10px;
                text-align: center;
                cursor: pointer;

                input {
                    width: 90%;
                    display: block;
                    margin: 0px auto;
                    padding: 5px;
                    font-size: 11px;
                }

                &.selected {
                    border: 2px solid blue;
                }
            }
        }
    }
}