.np-element {
    border: 1px solid #000;
}

.edit-post-title {
    font-size: 30px;
    font-weight: bold;
    width: calc(70% - 20px) !important;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px 0px;
}



.btn-blue {
    background: #3f3f7a;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 6px;
    margin: 10px 0px;
    border: none;
}







.container-icon {
    width: 60%;
    height: 10px;
    border: 2px solid #000;
    border-radius: 2px;
    margin: auto;
    margin-bottom: 5px;
}

.column-icon {
    width: 60%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 5px;

    div {
        width: 38%;
        height: 10px;
        border: 2px solid #000;
        border-radius: 2px;
    }
}

.paragraph-icon {
    font-size: 20px;
}

.elements-panel {
    background: #EEE;
    height: calc(30% + 10px);
    padding: 20px;
    position: fixed;
    bottom: 0px;
    width:24%;

    .elements {
        h4 {
            font-size: 14px;
            text-align: center;
            margin-bottom:10px;
        }
        .flex {
         gap: 10px;
        flex-wrap: wrap;
        margin-bottom:10px;

        button {
            width: calc(33% - 10px);
            display: block;
            min-width: calc(33% - 10px);
            border: 1px solid #000;
            padding: 5px;
            border-radius: 4px;
            font-size: 12px;
            h4 {
                margin-bottom:2px;
            }
        }
        }
        
    }

}





