.np-element {
    border: 1px solid #000;
}



.edit-post-title {
    font-size: 30px;
    font-weight: bold;
       width: calc(81% - 20px) !important;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px 0px;
}

.featured-image {
    height:140px;
    border:1px solid #000;
       width: calc(81% - 20px) !important;
     margin-bottom:10px;
     background-position: center;
     background-size:cover;
     cursor:pointer;
    div {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height:100%;
h2 {
    opacity: 0.4;
}
    }
    img {
        height:60px;
        opacity:0.4;
    }
}



.btn-blue {
    background: #3f3f7a;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 6px;
    margin: 10px 0px;
    border: none;
}







.container-icon {
    width: 60%;
    height: 10px;
    border: 2px solid #000;
    border-radius: 2px;
    margin: auto;
    margin-bottom: 5px;
}



.paragraph-icon {
    font-size: 20px;
}







