.np-element {
    border: 1px solid #000;
}

.edit-post-title {
    font-size: 30px;
    font-weight: bold;
    width: calc(70% - 20px) !important;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px 0px;
}

.np-columns {
    padding: 10px;
    gap: 10px;
}

.btn-blue {
    background: #3f3f7a;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 6px;
    margin: 10px 0px;
    border: none;
}

.np-heading {
    padding: 10px;
}

.stage {
    width: calc(70% - 20px);
    min-height: 400px;
}


.np-paragraph {
    padding: 10px;
    font-size: 18px;
}

.container-icon {
    width: 60%;
    height: 10px;
    border: 2px solid #000;
    border-radius: 2px;
    margin: auto;
    margin-bottom: 5px;
}

.column-icon {
    width: 60%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 5px;

    div {
        width: 38%;
        height: 10px;
        border: 2px solid #000;
        border-radius: 2px;
    }
}

.paragraph-icon {
    font-size: 20px;
}

.elements-panel {
    background: #EEE;
    height: calc(30% + 10px);
    padding: 20px;
    position: fixed;
    bottom: 0px;

    .elements {
        gap: 10px;
        flex-wrap: wrap;

        button {
            width: calc(33% - 10px);
            display: block;
            min-width: calc(33% - 10px);
            border: 1px solid #000;
            padding: 5px;
            border-radius: 4px;
        }
    }

}

.image {
    max-width: 100%;
}

.all-element-options {
    position: absolute;
    margin-top: -29px;

    input {
        width: 40px;
        height: 30px;
    }

    .select-level {
        cursor: pointer;

        h4 {
            margin: 0;
            padding: 0;
            font-size: 16px;
        }
    }

    >div {
        border: 1px solid #000;
        height: 23px;
        padding-top: 5px;
        background: #FFF;
        width: 40px;
        text-align: center;
        border-right: none;

        ul {
            position: absolute;
            padding: 0;
            margin: 0;
            margin-top: 4px;
            margin-left: -1px;
            background: #FFF;

            li {
                cursor: pointer;
                border: 1px solid #000;
                padding: 4px 10px;
            }
        }
    }
}

.bold {
    font-weight: bold;
    cursor: pointer;
}

.italic {
    font-style: italic;
    cursor: pointer;
}

.current-element {
    border: 2px blue solid;
}

.drag-element {
    height: 10px;
    position: relative;

    .drop-bar {
        height: 10px;
        background: #FFF;

    }

    &.drag-over {
        .drop-bar {
            background: #000;
        }
    }
}

.drag-container {
    position: relative;

    .drag-handle {
        position: absolute;
        width: 40px;
        height: 28px;
        border: 1px solid #000;
        right: 0;
        top: -29px;
        background: #FFF;

    }
}

.move-element {
    width: 80px !important;
    padding: 0 !important;
    height: 28px !important;

    div {
        min-width: 40px;
        height: 30px;
        border-right: 1px solid #000;
        height: 28px !important;

        &:last-child {
            border-right: none;
        }
    }
}