.dash-main {
    width:calc(83% - 40px);
    margin-left:17%;
    padding:20px;
    input {
        width:40%;
    }
}

.btn {
    border:1px solid blue;
}

.btn-large {
    font-size: size 18px;
    padding:10px 15px;
    border-radius: 5px;
    color:blue;
}