#install-select-database {
    gap:40px;
    .buttons {
        gap:20px;
    }
}

#install-site-name {
    form {
        gap:20px;
        input {
            width:400px;
        }
    }
}

.buttons {
    margin:40px 0px;
    gap:20px;
}