#login {
    width:600px;
    margin:auto;
    background:var(--lightest);
    text-align: center;
    padding:60px;
    border-radius:20px;
    margin-top:100px;
    color:#FFF;
    h1 {
        margin-top:20px;
    }
    input {
        width:60%;
        padding:10px;
        border:1px solid var(--medium);
        border-radius:5px;
        background:#FFF;
        display:block;
        margin:auto;
        color:var(--medium);
        margin-top:10px;
    }
    p {
        margin: 20px 0px;
        color:rgb(254, 207, 207);
    }

    button {
        background:var(--dark);
        padding:10px 20px;
        color:#FFF;
        border-radius:5px;
    }
}