#dash-sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    background: var(--dark);
    color:#FFF;
    header {
           padding: 20px 30px;

        p {
           font-size: 18px;
    margin-top: 10px;
    letter-spacing: 3px;
        }
    }
    .menu-item {
        padding: 20px;
        padding-top:10px;
        margin-top:10px;
        padding-left:30px;

        padding-bottom: 0px;

        cursor: pointer;
        &:first-child {
            img {
                width:25px !important;
                margin-left:-3px;
            }
        }

        .title {
            gap: 20px;
            align-items: center;
            a,h4 {
                color:#FFF;
                font-weight: bold;
            }
        }

        .sub-menu {
            display: none;
            background: #8586a3;
            padding-top:8px;
            margin-top:8px;
            width: calc(100% + 20px);
            a {
                 padding:8px;
                 padding-top:0px;
                 padding-left:10px;
                display:block;
                color:#FFF;
                font-size:15px;
            }
        }

        &.open {
            background:#eaadad;
            .sub-menu {
                display: block;
            }
        }


    }
}

