.hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6, button, p, input, label, div, ul, li {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-columns {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.select-align {
  border-left: none !important;
}

.element-options {
  border-right: 1px solid #000 !important;
}

.height-100-vh {
  height: 100vh;
}

form label {
  display: block;
  font-size: 18px;
}
form input {
  font-size: 20px;
  border: 1px solid #000;
  padding: 10px 20px;
}

.error {
  position: absolute;
  top: 40px;
  color: red;
}

.np-button-large {
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 10px 20px;
}

.small {
  font-size: 10px;
}

h2 {
  font-size: 20px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.popup {
  position: absolute;
  width: 600px;
  left: calc(50% - 300px);
  text-align: center;
  border: 1px solid #000;
  top: 50px;
  border-radius: 20px;
  background: #FFF;
  display: none;
}
.popup .close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
}
.popup input {
  display: block;
  margin: auto;
}

label {
  display: block;
}

input {
  display: block;
}

#install-select-database {
  gap: 40px;
}
#install-select-database .buttons {
  gap: 20px;
}

#install-site-name form {
  gap: 20px;
}
#install-site-name form input {
  width: 400px;
}

.buttons {
  margin: 40px 0px;
  gap: 20px;
}

.menu-item {
  cursor: pointer;
}
.menu-item .sub-menu {
  display: none;
  background: #CCC;
}
.menu-item.open .sub-menu {
  display: block;
}

.dash-main input {
  width: 40%;
}

.btn {
  border: 1px solid blue;
}

.btn-large {
  font-size: size 18px;
  padding: 10px 15px;
  border-radius: 5px;
  color: blue;
}

.np-element {
  border: 1px solid #000;
}

.np-columns {
  padding: 10px;
  gap: 10px;
}

.np-heading {
  padding: 10px;
}

.elements-panel {
  border: 1px solid #000;
  background: #CCC;
}
.elements-panel .elements {
  gap: 10px;
  flex-wrap: wrap;
}
.elements-panel .elements button {
  width: calc(33% - 10px);
  display: block;
  min-width: calc(33% - 10px);
}

.heading-options {
  position: absolute;
  margin-top: -29px;
}
.heading-options input {
  width: 40px;
  height: 30px;
}
.heading-options .select-level {
  cursor: pointer;
}
.heading-options .select-level h4 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.heading-options > div {
  border: 1px solid #000;
  height: 23px;
  padding-top: 5px;
  background: #FFF;
  width: 40px;
  text-align: center;
  border-right: none;
}
.heading-options > div ul {
  position: absolute;
  padding: 0;
  margin: 0;
  margin-top: 4px;
  margin-left: -1px;
  background: #FFF;
}
.heading-options > div ul li {
  cursor: pointer;
  border: 1px solid #000;
  padding: 4px 10px;
}

.bold {
  font-weight: bold;
  cursor: pointer;
}

.italic {
  font-style: italic;
  cursor: pointer;
}

.current-element {
  border: 2px blue solid;
}

.drag-element {
  height: 10px;
  position: relative;
}
.drag-element .drop-bar {
  height: 10px;
  background: #FFF;
}
.drag-element.drag-over .drop-bar {
  background: #000;
}

.drag-container {
  position: relative;
}
.drag-container .drag-handle {
  position: absolute;
  width: 40px;
  height: 28px;
  border: 1px solid #000;
  right: 0;
  top: -29px;
  background: #FFF;
}

.move-element {
  width: 80px !important;
  padding: 0 !important;
  height: 28px !important;
}
.move-element div {
  min-width: 40px;
  height: 30px;
  border-right: 1px solid #000;
  height: 28px !important;
}
.move-element div:last-child {
  border-right: none;
}

#image-browser {
  position: absolute;
  top: 100px;
  left: 10%;
  width: 80%;
  height: 400px;
  background: #FFF;
  border: 1px solid #000;
  padding: 20px;
}
#image-browser h1 {
  margin-bottom: 6px;
  font-size: 14px;
}
#image-browser h2 {
  font-size: 13px;
  text-align: center;
  margin-top: -24px;
}
#image-browser .file-browser-container {
  overflow-y: scroll;
  height: 300px;
}
#image-browser .file-browser-container .file-browser {
  gap: 10px;
  padding: 30px 0px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
#image-browser .file-browser-container .file-browser .file-browser-item {
  width: calc(20% - 12px);
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
#image-browser .file-browser-container .file-browser .file-browser-item input {
  width: 90%;
  display: block;
  margin: 0px auto;
  padding: 5px;
  font-size: 11px;
}
#image-browser .file-browser-container .file-browser .file-browser-item.selected {
  border: 2px solid blue;
}/*# sourceMappingURL=index.css.map */