<%- get_template_part('/np-content/admin/header',viewContext) %>

<section class="flex">

    <%- get_template_part('/np-content/admin/components/sidebar',viewContext) %>

        <div class="dash-main">

            <h1>Add new custom post type</h1>

            <div>
                <input name="cpt_title" placeholder="Title" />
                <p class="hidden error">Please enter a title</p>
            </div>

            <input name="cpt_slug" placeholder="Slug" />
            
            <div class="check-field flex">
                <label>Top level</label>
                <input name="top_level" type="checkbox" />
            </div>

            <div class="check-field flex">
                <label>Display in Rest</label>
                <input name="use_rest" type="checkbox" />
            </div>

            <div class="check-field flex">
                <label>Use basic editor</label>
                <input name="basic" checked type="checkbox" />
            </div>
            
            <div class="check-field flex">
                <label>Use page builder</label>
                <input name="page_builder" checked type="checkbox" />
            </div>
            
            <div>
                <button class="btn-primary" id="add_cpt">Create CPT</button>
                <p class="hidden success">New CPT created!</p>
            </div>

        </div>

</section>

<%- get_template_part('/np-content/admin/footer',viewContext) %>