<%- get_template_part('/np-content/admin/header',viewContext) %>
<section class="flex">
<%- get_template_part('/np-content/admin/components/sidebar',viewContext) %>
<div class="dash-main">

    <h1>Welcome to NodePost 0.1</h1>

    <button>Create the site with AI</button>

    <a href="https://nodepost.com/docs">View the docs</a>

</div>

</section>

<%- get_template_part('/np-content/admin/footer',viewContext) %>