
<%- get_template_part('/np-content/admin/header',viewContext) %>

<div id="install-app"></div>
<script src="/np-content/admin/vue/install/dist/dist.js"></script>
<%- get_template_part('/np-content/admin/footer',viewContext) %>