<%- get_template_part('/np-content/admin/header',viewContext) %>

<section class="flex">

    <%- get_template_part('/np-content/admin/components/sidebar',viewContext) %>

        <div class="dash-main">
            
            <h1>New <%= data.cpt.title %> Post</h1>

            <div id="basic-editor">

            </div>

        </div>

</section>

<%- get_template_part('/np-content/admin/footer',viewContext) %>